.dashboard-row .dashboard-panel .panel-head h3 {
    border: 1px dashed #90BAD0;
    border-left: 6px solid #90BAD0;
    font-weight: normal;
}

#tableDetails tr.odd > td.yes-cell {
    background-color: #1E6F52 !important;
}

#tableDetails tr.even > td.yes-cell {
    background-color: #1E6F52 !important;
}

#tableDetails tr.odd > td.no-cell {
    background-color: #65778A !important;
}

#tableDetails tr.even > td.no-cell {
    background-color: #65778A !important;
}

#tableDetails tr.odd > td {
    background-color: #2b3033 !important;
}

#tableDetails tr.even > td {
    background-color: #171d21 !important;
}

#tableDetectionChecks td.details-cell {
    border-left: 5px solid #90BAD0;
    border-bottom: 1px dashed #90BAD0;
}

#tableDetectionChecks td.string {
    font-family: Splunk Platform Sans;
}

#tableDetectionExpandedDetails tr.odd > td.yes-cell {
    background-color: #1E6F52 !important;
}

#tableDetectionExpandedDetails tr.even > td.yes-cell {
    background-color: #1E6F52 !important;
}

#tableDetectionExpandedDetails tr.odd > td.no-cell {
    background-color: #65778A !important;
}

#tableDetectionExpandedDetails tr.even > td.no-cell {
    background-color: #65778A !important;
}

#tableDetectionExpandedDetails tr.odd > td {
    background-color: #2b3033 !important;
}

#tableDetectionExpandedDetails tr.even > td {
    background-color: #171d21 !important;
}

#tableDetectionDetails td.details-cell {
    border-left: 5px solid #90BAD0;
    border-bottom: 1px dashed #90BAD0;
}

#tableDetectionDetails td.string {
    font-family: Splunk Platform Sans;
}

td.data-bar-cell {
    padding: 4px 8px;
}

td.data-bar-cell .data-bar-wrapper {
    border: solid 1px black;
    background-color: #3C444D;
}

td.data-bar-cell .data-bar-wrapper .data-bar {
    height: 20px;
    background: linear-gradient(to bottom, #a7cfdf 1%,#23538a 37%);
    min-width: 1px;
    background-color: #294165;
    padding-left: 5px;
}

/* Hide the two last rows of this Table visualization, as they are used for drilldowns only. */
#statistics > table > thead > tr > th:nth-child(5) {
    display: none;
}

#statistics > table > tbody > tr > td:nth-child(5) {
    display: none;
}

#statistics > table > thead > tr > th:nth-child(6) {
    display: none;
}

#statistics > table > tbody > tr > td:nth-child(6) {
    display: none;
}

#tableAnnotations {
    width: 100%; 
    font-family: Splunk Platform Sans;
}

.annotationHeader {
}

.annotationDiv {
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    border: 1px solid #2b3033;
    width: fit-content;
    margin-bottom: 5px;  
    background-color: #777777; 
}

.annotationStories {
    background-color: #305662;
}

.annotationCIS20 {
    background-color: ##98062d;
}

.annotationContext {
    background-color: #2EA39B;   
}

.annotationCVEs {
    background-color: #567d99;
}

.annotationKillchain {
    background-color: #6e8da9;
}

.annotationMITRE {
    background-color: #D94E17;
}

.annotationNIST {
    background-color: #277C52;
}

.annotationConfidence {
    background-color: #182C37;
}

.annotationImpact {
    background-color: #D10404;
}

.annotationDiv > a {
    color: white;
}

.annotationTooltip + .tooltip > .tooltip-inner {
    font-size: 14px;
    font-weight: 400;
    font-family: Splunk Platform Sans;
    color: white;
    background-color: #212527;
}

#dendrogramViz {
    border: 1px solid #65778a;
    background-color: #2b3033;
}
